$border-color: #eee;
$active-color: #1679f5;

.room {
  height: calc(100% - 39px);

  .active {
    color: $active-color;
  }

  > main {
    height: calc(100% - 86px);
    display: flex;
    border-left: 1px solid $border-color;
    border-right: 1px solid $border-color;
    position: relative;

    .clear {
      position: absolute;
      right: 189px;
      z-index: 9;
      top: 4px;
      font-size: 12px;
      cursor: pointer;
      color: #ec3413;
    }

    .info {
      position: absolute;
      right: 2px;
      top: -28px;
      font-size: 12px;
  
      .title {
        margin-right: 12px;
      }
    }

    .news {
      position: absolute;
      left: 2px;
      bottom: 2px;
      font-size: 10px;
      border: 1px solid $active-color;
      border-radius: 5px;
      padding: 0 4px;
      z-index: 1;
      background-color: #fff;
      cursor: pointer;
      color: $active-color;
      opacity: .8;
    }

    > section {
      flex: 1;
      word-break: break-all;
      overflow-y: scroll;
      padding: 2px 10px 2px 2px;
      position: relative;

      .bottom {
        width: 1px;
        height: 1px;
      }

      li {
        list-style: none;
        padding: 6px 2px;
        border-bottom: 1px dashed $border-color;
        line-height: 26px;

        .prefix {
          color: #666;
          font-style: italic;

          * {
            margin-right: 4px;
            &:last-child {
              margin-right: 0;
            }
          }
        }
      }
    }

    > aside {
      width: 180px;
      border-left: 1px solid $border-color;

      header {
        border-bottom: 1px solid $border-color;
        padding: 2px;
      }

      .user-loading {
        display: flex;
        justify-content: center;
      }

      ul {
        padding-left: 4px;
        list-style: none;
        margin: 6px 0;

        li {
          border-bottom: 1px dashed $border-color;
          padding: 2px 0;
          word-break: break-all;

          &.admin {
            color: rgb(236, 52, 19);
          }

          &
        }
      }
    }
  }

  > footer {
    height: 80px;
    display: flex;

    .send {
      width: 150px;
      border: 1px solid $border-color;
      border-right: none;
      display: flex;
      flex-direction: column;

      &-to {
        display: flex;
        align-items: center;
        flex: 1;
        select {
          flex: 1;
        }

        .happy {
          width: 30px;
          cursor: pointer;
        }
      }

      &-info {
        flex: 1;
        display: flex;
        align-items: center;
        border-top: 1px solid $border-color;
      }

      &-private {
        flex: 1;
        text-align: center;
      }

      &-btn {
        flex: 1;
        border-left: 1px solid $border-color;
        height: 100%;

        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    .input {
      height: 100%;
      flex: 1;
      border: 1px solid $border-color;
      box-sizing: border-box;
      transition: all 0.3s;

      &.focus {
        border-color: $active-color;
      }

      textarea {
        display: block;
        resize: none;
        border: none;
        outline: none;
        height: 100%;
        width: 100%;
        box-sizing: border-box;
      }
    }
  }
}

.happy-cnt {
  max-height: 300px;
  overflow-y: auto;

  header {
    font-size: 12px;
    color: #666;
    margin-bottom: 6px;
  }

  main {
    display: grid;
    grid-template-columns: repeat(12, 30px);
    row-gap: 6px;
    column-gap: 6px;
    margin-bottom: 8px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  img {
    width: 30px;
    height: 30px;
    cursor: pointer;
  }
}
